Module 3: Data Structures Assignments
Lesson 3.3: Sets

Assignment 1: Creating and Accessing Sets
Create a set with the first 10 positive integers. Print the set.

Assignment 2: Adding and Removing Elements
Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

Assignment 3: Set Operations
Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

Assignment 4: Set Comprehensions
Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

Assignment 5: Filtering Sets
Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

Assignment 6: Set Methods
Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

Assignment 7: Subsets and Supersets
Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

Assignment 8: Frozenset
Create a frozenset with the first 5 positive integers. Print the frozenset.

Assignment 9: Set and List Conversion
Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

Assignment 10: Set and Dictionary
Create a dictionary with set keys and integer values. Print the dictionary.

Assignment 11: Iterating Over Sets
Create a set and iterate over the elements, printing each element.

Assignment 12: Removing Elements from Sets
Create a set and remove elements from it until it is empty. Print the set after each removal.

Assignment 13: Set Symmetric Difference Update
Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

Assignment 14: Set Membership Testing
Create a set and test if certain elements are present in the set. Print the results.

Assignment 15: Set of Tuples
Create a set containing tuples, where each tuple contains two elements. Print the set.

Assignment 1: Creating and Accessing Sets Create a set with the first 10 positive integers. Print the set.

In [1]:
my_set={i for i in range(1,11)}
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Assignment 2: Adding and Removing Elements Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [4]:
my_set={i for i in range(1,11)}
my_set.remove(1)
my_set.add(11)
print(my_set)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

Assignment 3: Set Operations Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [18]:
s1={i for i in range(1,6)}
s2={i for i in range(1,11)if i%2==0}
print(s2)
print(s1)
dif=s2.difference(s1)
inter=s1.intersection(s2)
uni=s1.union(s2)
syn=s1.symmetric_difference(s2)
print(dif)
print(inter)
print(uni)
print(syn)

{2, 4, 6, 8, 10}
{1, 2, 3, 4, 5}
{8, 10, 6}
{2, 4}
{1, 2, 3, 4, 5, 6, 8, 10}
{1, 3, 5, 6, 8, 10}

Assignment 4: Set Comprehensions Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [19]:
my_set={i for i in range(1,11)}
my_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

Assignment 5: Filtering Sets Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [20]:
my_set={i for i in range(1,11)}
new={i for i in my_set if i%2==0 }
new

{2, 4, 6, 8, 10}

Assignment 6: Set Methods Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

Assignment 7: Subsets and Supersets Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [22]:
s1={1,2,3,4,5}
s2={1,2,3}
print(s1.issubset(s2))
print(s1.issuperset(s2))

False
True

Assignment 8: Frozenset Create a frozenset with the first 5 positive integers. Print the frozenset.

In [23]:
s1={1,2,32,3,4}
frozen=frozenset(s1)
print(frozen)

frozenset({32, 1, 2, 3, 4})

Assignment 9: Set and List Conversion Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [25]:
s={1,2,3,4,5}
li=list(s)
li.append(6)
s1=set(li)
s1

{1, 2, 3, 4, 5, 6}

Assignment 10: Set and Dictionary Create a dictionary with set keys and integer values. Print the dictionary.

In [26]:
dic={(2,3):2,(4,5):5}
print(dic)

{(2, 3): 2, (4, 5): 5}

Assignment 11: Iterating Over Sets Create a set and iterate over the elements, printing each element.

In [27]:
se={1,2,3,4,5,6,7,8}
for i in se:
    print(i)

1
2
3
4
5
6
7
8

Assignment 12: Removing Elements from Sets Create a set and remove elements from it until it is empty. Print the set after each removal.

In [43]:
s1={1,2,3,4,5,6}
while len(s1)>1:
    s1.pop()
    print(s1)

{2, 3, 4, 5, 6}
{3, 4, 5, 6}
{4, 5, 6}
{5, 6}
{6}

Assignment 13: Set Symmetric Difference Update Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [44]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.symmetric_difference_update(set2)
set1

{1, 2, 5, 6}

Assignment 14: Set Membership Testing Create a set and test if certain elements are present in the set. Print the results.

In [45]:
set1={1,2,3,4,5}
find=3
print(find in set1)

True

Assignment 15: Set of Tuples Create a set containing tuples, where each tuple contains two elements. Print the set.

In [50]:
set1={(2,3),(4,5)}
print(set1)

{(2, 3), (4, 5)}