Module 3: Data Structures Assignments
Lesson 3.2: Tuples

Assignment 1: Creating and Accessing Tuples
Create a tuple with the first 10 positive integers. Print the tuple.

Assignment 2: Accessing Tuple Elements
Print the first, middle, and last elements of the tuple created in Assignment 1.

Assignment 3: Tuple Slicing
Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

Assignment 4: Nested Tuples
Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

Assignment 5: Tuple Concatenation
Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

Assignment 6: Tuple Methods
Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

Assignment 7: Unpacking Tuples
Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

Assignment 8: Tuple Conversion
Convert a list of the first 5 positive integers to a tuple. Print the tuple.

Assignment 9: Tuple of Tuples
Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

Assignment 10: Tuple and List
Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

Assignment 11: Tuple and String
Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

Assignment 12: Tuple and Dictionary
Create a dictionary with tuple keys and integer values. Print the dictionary.

Assignment 13: Nested Tuple Iteration
Create a nested tuple and iterate over the elements, printing each element.

Assignment 14: Tuple and Set
Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

Assignment 15: Tuple Functions
Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

Assignment 1: Creating and Accessing Tuples Create a tuple with the first 10 positive integers. Print the tuple.

In [4]:
tup=tuple(i for i in range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

Assignment 2: Accessing Tuple Elements Print the first, middle, and last elements of the tuple created in Assignment 1.

In [9]:
tup=tuple(i for i in range(1,11))
print(tup[0])
print(tup[len(tup)//2])
print (tup[len(tup)-1])

1
6
10

Assignment 3: Tuple Slicing Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [10]:
tup=tuple(i for i in range(1,11))
print(tup[0:3])
print(tup[-3:])
print(tup[2:5])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5)

Assignment 4: Nested Tuples Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [12]:
tup=(
    (1,2,3),
    (4,5,6),
    (7,8,9)
)
print(tup)
print(tup[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

Assignment 5: Tuple Concatenation
Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [14]:
t1=(1,2,3)
t2=(4,5,6)
new=t1+t2
print(new)

(1, 2, 3, 4, 5, 6)

Assignment 6: Tuple Methods Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [17]:
tup=(1,2,3,4,5,6,2,3)
count={}
for val in tup:
    count[val]=count.get(val,0)+1
print(count)
ind=tup.index(4)
print(ind)

{1: 1, 2: 2, 3: 2, 4: 1, 5: 1, 6: 1}
3

Assignment 7: Unpacking Tuples Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [19]:
tup=(i for i in range(1,6))
a,b,c,d,e=tup
print(a,b,c,d,e)

1 2 3 4 5

Assignment 8: Tuple Conversion Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [20]:
lis=[i for i in range(1,6)]
tup=tuple(lis)
print(tup)

(1, 2, 3, 4, 5)

Assignment 9: Tuple of Tuples Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [21]:
tup=(
    (1,2,4),
    (5,3,6),
    (7,8,9)
)
print(tup)

((1, 2, 4), (5, 3, 6), (7, 8, 9))

Assignment 10: Tuple and List Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [26]:
tup=tuple(i for i in range(1,6))
lis=list(tup)
lis.append(6)
tup1=tuple(lis)
print(tup1)

(1, 2, 3, 4, 5, 6)

Assignment 11: Tuple and String Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [31]:
tup=("s","i","v","a")
name="".join(tup)


print(name)

siva

Assignment 12: Tuple and Dictionary Create a dictionary with tuple keys and integer values. Print the dictionary.

In [39]:
mdict = {
    (1, 2): 10,
    (3, 4): 20,
    (5, 6): 30
}
print(mdict)

{(1, 2): 10, (3, 4): 20, (5, 6): 30}

Assignment 13: Nested Tuple Iteration Create a nested tuple and iterate over the elements, printing each element.

In [40]:
nested_tuple = ((1, 2), (3, 4), (5, 6))

for inner in nested_tuple:
    for item in inner:
        print(item, end=' ')

1 2 3 4 5 6

Assignment 14: Tuple and Set Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [41]:
dup_tuple = (1, 2, 2, 3, 4, 4, 5)

unique_set = set(dup_tuple)

print( unique_set)

{1, 2, 3, 4, 5}

Assignment 15: Tuple Functions Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [43]:
def get_min(tup):
    return min(tup)

def get_max(tup):
    return max(tup)

def get_sum(tup):
    return sum(tup)

# Sample tuple
data = (10, 20, 5, 40, 15)

# Print results
print("Tuple:", data)
print("Minimum:", get_min(data))
print("Maximum:", get_max(data))
print("Sum:", get_sum(data))

Tuple: (10, 20, 5, 40, 15)
Minimum: 5
Maximum: 40
Sum: 90