TASK: Build a simple calcucalor

In [1]:
def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

def multiply(x, y):
    return x * y

def divide(x, y):
    if y == 0:
        return "Error: Division by zero"
    return x / y

def calculator():
    print("1. Add")
    print("2. Subtract")
    print("3. Multiply")
    print("4. Divide")
    choice = input("Enter choice (1/2/3/4): ")

    if choice in ('1', '2', '3', '4'):
        num1 = float(input("Enter first number: "))
        num2 = float(input("Enter second number: "))

        if choice == '1':
            print("Result:", add(num1, num2))
        elif choice == '2':
            print("Result:", subtract(num1, num2))
        elif choice == '3':
            print("Result:", multiply(num1, num2))
        elif choice == '4':
            print("Result:", divide(num1, num2))
    else:
        print("Invalid input")

calculator()

1. Add
2. Subtract
3. Multiply
4. Divide
Enter choice (1/2/3/4): 3
Enter first number: 55
Enter second number: 44
Result: 2420.0

TASK: understand why list cannot be a key in dict



---

list is mutable so it can't used in the key value

 Solve: https://leetcode.com/problems/fizz-buzz/description/

TASK: WAPP to check if the given year is leap year or not.

In [2]:
def is_leap_year(year):
    if (year % 4 == 0 and year % 100 != 0) or (year % 400 == 0):
        return True
    else:
        return False

year = int(input("Enter a year: "))
if is_leap_year(year):
    print(year, "is a Leap Year")
else:
    print(year, "is Not a Leap Year")

Enter a year: 2004
2004 is a Leap Year

TASK  : remove duplicates from a list and return the dups

TASK  : how many times each letter has occured in the given sentence

TASK  : count the occurances of vowels

In [3]:
duplicates = set()
unique = []
seen=set()
data = [1, 2, 3, 2, 4, 5, 1, 6, 3]


for item in data:
    if item in seen:
        duplicates.add(item)
    else:
        unique.append(item)
        seen.add(item)


print("actual List:", data)
print("Duplicates:", duplicates)

Unique List: [1, 2, 3, 2, 4, 5, 1, 6, 3]
Duplicates: {1, 2, 3}

In [4]:
def letter_frequency(sentence):
    sentence = sentence.lower()
    frequency = {}

    for char in sentence:
        if char.isalpha():
            frequency[char] = frequency.get(char, 0) + 1

    return frequency

text = "Hello World"
result = letter_frequency(text)
print("Letter Frequencies:", result)

Letter Frequencies: {'h': 1, 'e': 1, 'l': 3, 'o': 2, 'w': 1, 'r': 1, 'd': 1}

In [5]:
def count_vowels(sentence):
    vowels = "aeiou"
    sentence = sentence.lower()
    count = {v: 0 for v in vowels}
    for char in sentence:
        if char in vowels:
            count[char] += 1
    return count

text = "This is a simple sentence."
vowel_count = count_vowels(text)
print("Vowel Counts:", vowel_count)

Vowel Counts: {'a': 1, 'e': 4, 'i': 3, 'o': 0, 'u': 0}

TASK: concat 2 dicts,

In [9]:
dic1={i:i*2 for i in range(1,6)}
dic2={i:i*2 for i in range(5,11)}
dic1.update(dic2)
dic1

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20}

 TASK: factorial of a number using reduce function in python

In [13]:
from functools import reduce

value=[i for i in range(1,6)]
num=reduce(lambda x,y:x*y,value)
num

120

 randomly arrange a bunch of students into groups of 5

idea: 40 student name -> 5 groups -> randomly assign students into each group.